:root {
    /* ## Colors */

--Purple-100: hsl(254, 88%, 90%);
--Purple-500: hsl(256, 67%, 59%);

--Yellow-100: hsl(31, 66%, 93%);
--Yellow-500: hsl(39, 100%, 71%);

--White: hsl(0, 0%, 100%);
--White-Y: hsl(0, 0%, 96%);
--Black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DMSans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--White-Y);
}

.container {
    display: grid;
    margin: 3rem 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, fit-content);
    gap: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    max-width: 21rem;
    height: fit-content;
    padding: 1rem;

}

.card-1 {
    align-items: center;
    background: var(--Purple-500);
}

.card-1 h3 {
    font-size: 3rem;
    text-align: center;
    color: var(--White);
    line-height: 3rem;
    padding-top: 1rem;
    margin-bottom: 2rem;

}

.card-1 h3 span.ten{
    color: var(--Yellow-500);
}

.card-1 h3 span.fast{
    font-style: italic;
}

.card-1 img{
    width: 14rem;
    margin-bottom: 1rem;
}

.card-1 p {
    font-size: 1.2rem;
    color: var(--White);
}

.card-2 {
    background: var(--White);

}

.card-2 h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-2 img {
    width: 19rem;
    margin: 0.7rem 0;
}

.card-3 {
    background: var(--Yellow-500);
}

.card-3 h3 {
    font-size: 1.4rem;
}

.card-3 img {
    width: 13rem;
}

.card-4 {
    align-items: center;
    background: var(--Purple-100);
}

.card-4 h3 {
    font-size: 1.4rem;
}

.card-4 img {
    width: 18rem;
    padding: 2rem 0;
}

.card-4 h4 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 0.8rem;
}

.card-5 {
    align-items: center;
    background: var(--Purple-500);
}

.card-5 img {
    width: 15rem;
    padding: 1rem 0 2rem;
}

.card-5 h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    width: 80%;
    color: var(--White);
}

.card-6 {
    background: var(--White);
}

.card-6 h1{
    font-size: 3rem;
    font-weight: 500;
}

.card-6 h4 {
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
}

.card-6 img{
    width: 12rem;
}

.card-7 {
    background: var(--Yellow-100);
}

.card-7 h3 {
    font-size: 1.7rem;
    padding: 1rem;
    font-weight: 500;
}

.card-7 span {
    color: var(--Purple-500);
    font-style: italic;
}

.card-7 img {
    width: 13rem;
    padding-left: 1rem;
}

.card-8 {
    background: var(--Yellow-500);
}

.card-8 h3 {
    font-size: 1.8rem;
}

.card-8 img {
    width: 14rem;
}

@media screen and (min-width: 64rem ) {
    body {
        height: 100vh;
    }
    .container {
        grid-template-columns: repeat(4, 232px);
        grid-template-rows: repeat(10, 1fr);
    }

    .cards {
        max-width: none;
        height: auto;
        overflow: hidden;
    }

    .cards img {
        width: 4rem;
    }

    .card-7 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;
        justify-content: center;
    }

    .card-7 img {
        width: 12rem;
    }

    .card-1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .card-1 img {
        width: 12rem;
    }

    .card-1 h3 {
        font-weight: 500;
    }

    .card-4 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 8;
    }

    .card-4 h3 {
        font-size: 1.7rem;
    }

    .card-4 img {
        margin-left: 9rem;
        width: 20rem;
    }

    .card-4 h4 {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }
    
    .card-8 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 11;
    }

    .card-8 h3 {
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .card-8 img {
        width: 13rem;
    }

    .card-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    .card-2 img {
        width: 18rem;
    }

    .card-2 h3 {
        font-size: 1.6rem;
        line-height: 1.5rem;
        width: 12rem;
    }

    .card-3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 8;
        position: relative;
    }

    .card-3 h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500;
        width: 10rem;
    }

    .card-3 img {
        position: absolute;
        width: 12rem;
        bottom: -3.8rem;
    }

    .card-6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 11;
    }

    .card-6 h4 {
        font-size: 0.9rem;
    }

    .card-6 img {
        width: 12rem;
    }

    .card-5 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 11;
        flex-direction: row;
        position: relative;
    }

    .card-5 img {
        position: absolute;
        /* width: 12rem; */
        width: 40%;
        left: 2rem;
        top: 0.5rem;
    }

    .card-5 h3 {
        position: absolute;
        font-size: 2rem;
        width: 50%;
        right: 1rem;
        padding-left: 0.5rem;
        text-align: left;
    }

}